.button{
    -fx-background-image: url('images/Kubek.png');
    -fx-background-size: 100%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: #cdcdcd;
    -fx-background-color:
            #707070,
            linear-gradient(#fcfcfc, #f3f3f3),
            linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 3, 0.0 , 0 , 1 );
    -fx-background-radius: 5em;
    -fx-background-position:center;
    -fx-background-light: magenta
}

.pane{
    -fx-background-color: red;
}

.background {
    -fx-background-image: url('images/background.png');
}